language: python

cache:
  - pip
  - directories:
    - $HOME/miniconda.tarball
    - $HOME/testdata.tarball
    - $HOME/lephare.tarball


python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "2.7"

install:
  # Updates and install
  - rm -rf $HOME/miniconda.tarball
  - sudo apt-get update
  - ./stack_install.sh gcc lsst-daf-persistence lsst-log lsst-afw lsst-skypix lsst-meas-algorithms lsst-pipe-tasks
  ## We do this conditionally because it saves us some downloading if the
  ## version is the same.
  #- wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh
  #- bash miniconda.sh -b -p $HOME/miniconda
  #- export PATH="$HOME/miniconda/bin:$PATH"
  #- hash -r
  #- conda config --set always_yes yes --set changeps1 no
  #- conda update -q conda
  ## Useful for debugging any issues with conda
  #- conda info -a
  #- conda config --add channels http://conda.lsst.codes/stack
  #- conda create -q -n lsst python=$TRAVIS_PYTHON_VERSION
  #- source activate lsst
  ## Install needed parts of the lsst stack
  #- conda install -q gcc lsst-daf-persistence lsst-log lsst-afw lsst-skypix lsst-meas-algorithms lsst-pipe-tasks
  #- source eups-setups.sh
  #- setup daf_persistence
  ## Install obs_cfht
  #- git clone https://github.com/lsst/obs_cfht.git
  #- cd obs_cfht
  #- git checkout b7ab2c4
  #- setup -k -r .
  #- scons opt=3
  #- eups declare -r . -t travis
  #- cd $HOME
  # Install standard python packages
  - pip install --upgrade pytest codecov coveralls
  - pip install -r requirements.txt
  # Install Clusters
  - pip install .

# command to run tests
script:
  - export PATH="$HOME/miniconda/bin:$PATH"
  - source activate lsst
  - source eups-setups.sh
  - setup daf_persistence
  - setup obs_cfht -t travis
  # Get the test data
  - if [[ -f "testdata.tarball" ]]; then
       # Restore from cached tarball
       tar xzf "testdata.tarbal" -C "$HOME" 
    else
       wget https://lapp-owncloud.in2p3.fr/index.php/s/xG2AoS2jggbmP0k/download -O testdata.tarball
       tar zxf download -C "$HOME" 
    fi
  # Get LEPHARE
  - if [[ -f "lephare.tarball" ]]; then
       # Restore from cached tarball
       tar xzf "lephare.tarball" -C "$HOME" 
    else
       wget https://lapp-owncloud.in2p3.fr/index.php/s/MDaXObLSD9IVQ1B/download -O lephare.tarball
       tar zxf download -C "$HOME" 
    fi
  # LEPHARE env. var.
  - export LEPHAREWORK="$HOME/lephare/lephare_work"
  - export LEPHAREDIR="$HOME/lephare/lephare_dev"
  # Run the tests
  - coverage run --source="Clusters" setup.py test
  
after_success:
  - codecov
  - coveralls

